.listItem {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: orangered;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-top-width: 1;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }